/* Error: Undefined variable.
 *    ,
 * 37 |     width: $card-width-#{$size};
 *    |            ^^^^^^^^^^^^
 *    '
 *   sass/main.scss 37:12  cardSize()
 *   sass/main.scss 50:5   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 37 \2502      width: $card-width-#{$size};\a    \2502             ^^^^^^^^^^^^\a    \2575 \a   sass/main.scss 37:12  cardSize()\a   sass/main.scss 50:5   root stylesheet";
}
